# Compiler files
cache/
!/cache/abis/
!/cache/abis/**
out/
outputs/

# Ignores development broadcast logs
broadcast/*
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dotenv file
.env

# Allow deployment output files to be committed
!/script/outputs
!/script/outputs/**

# Ignore GitHub push script
script/github_push.sh
