# Compiler files
cache/
out/

# Ignores development broadcast logs
broadcast/*
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dotenv file
.env

# Allow deployment output files to be committed
!/script/outputs
!/script/outputs/**
